@font-face {
    font-family: Bold;
    src: url('../Fonts/ProductSansBold.ttf');
}

@font-face {
    font-family: Regular;
    src: url('../Fonts/ProductSansRegular.ttf');
}

body {
    background-color: #F0EFEF;
    font-family: Regular;
    color: #696969;
}
h1 {
    text-align: center;
    font-size: 3.5vw;
    font-family: Bold;
    z-index: 9999;
}
.bins {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.bins td {
    width: 12.5%;
    text-align: center;
}
.bins img {
    max-width: 100%;
    height: auto;
}
.droppable {
    width: 80%;
}
.draggable {
    position: absolute;
    top: calc(25%);
    left: calc(37.5%);
    z-index: 9998;
    width: 25%;
    height: 25%;
    overflow: visible;
    cursor: move;
}
.draggable img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    z-index: 9998;
    margin: auto;
    object-fit: contain;
}
@keyframes shrink-animation {
    0% {
        transform: scale(1);
        opacity: 1;
   }
    100% {
        transform: scale(0);
        opacity: 0;
   }
}

  .modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}
.modal-content {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    margin: 10% auto;
    padding: 2%;
    border: 1px solid #888;
    width: 60%;
    max-width: 60%;
    overflow: auto;
    z-index: 9999;
    border-radius: 25px;
    height: fit-content;
    max-height: fit-content;
}
.modal-content h2{
    font-family: Regular;
    font-size: 3vw;
    margin-left: 1.3%;
}
.modal-content p{
    font-family: Regular;
    font-size: 2vw;
    margin-left: 1.3%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 2.8vw;
    font-weight: bold;
    z-index: 9999;
    border-radius: 25px;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    z-index: 9999;
    border-radius: 25px;
}
.play-again {
    border: none;
    border-radius: 25px;
    background-color: #4CAF50;
    color: #ffffff;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    cursor: pointer;
    font-family: Regular;
    margin-left: 1.3%;
  }
  .play-again:hover {
    background-color: #3e8e41;
  }
  


  .start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}
.username {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin-bottom: 2%;
    }

.username-input{
    width: 100%;
    border-radius: 25px;
    color: #000000;
    padding: 0.8% 1.6%;
    text-align: center;
    display: flex;
    flex-direction: row;
    font-size: 1.6vw;
    font-family: Regular;
    margin-left: 1.3%;
}
.username-input::placeholder{
    font-family: Regular;
    opacity: 0.5;
}

.mode-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5%;
    width: 80%;
}

.mode-buttons button {
    border: none;
    border-radius: 25px;
    background-color: #4CAF50;
    color: #ffffff;
    padding: 1% 2.5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.2vw;
    cursor: pointer;
    font-family: Regular;
    width: 40%;
}


.start h2 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-55%, -50%);
    font-family: Regular;
    font-size: 2.4vw;
    color: #ffffff;
    margin-left: 1.3%;
}
