body {
    background-color: #F0EFEF;
    font-family: Arial, sans-serif;
    color: #696969;
}
p {
    text-align: center;
}
h1 {
    text-align: center;
}
.bins {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}
.bins td {
    padding: 10px;
    text-align: center;
}
.bins img {
    max-width: 100%;
    height: auto;
}
.droppable {
    border: 2px dashed black;
    padding: 10px;
}
.draggable {
    position: absolute;
    top: calc(20%);
    left: calc(50% - 100px);
    z-index: 9999;
    width: 200px;
    height: 200px;
    overflow: visible;
    cursor: move;
}
.draggable img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    object-fit: contain;
}
@keyframes shrink-animation {
    0% {
        transform: scale(1);
        opacity: 1;
   }
    100% {
        transform: scale(0);
        opacity: 0;
   }
}
